@charset "UTF-8";

h1 {
	font-size:50px;
	margin-top:0px; 
	margin-bottom:0px;
}
.post-tittle{
	font-size:25px;
	text-align:center;
	
	margin-bottom:20px;
	font-weight:bold;
}
.post-tittled{
	font-size:25px;
	text-align:center;
	margin-top:150px;
	margin-bottom:30px;
	font-weight:bold;
}
.post-innner{
	width:60%;
	margin:0 auto;
}
.post-innner input{
	width:100%;
}
body {
  background-color:#ffffff;
 /*  font-family: 'M PLUS Rounded 1c', sans-serif;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Roboto', sans-serif;  */
 font-size: 100%;
}
.tableds{
  padding: 10px;
  margin : 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
.copyright {
	position: absolute;
	bottom: 0;
  } 
.h3s{
  color:#333333;
  font-size: 30px;
  font-weight: bold;
 width: 90%;
 margin: 0 auto;
 text-align: center;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: auto; 
}
th,
td {
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid #333;
  font-weight: normal;
  color: #333333; 
  padding: 0 15px !important;
}
th {
  font-weight: bolder;
  font-size: 20px;
  color: #333333;
  background: #faf0e6;
  text-align: center !important;
  white-space: nowrap !important;
}

img {
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: .5rem;
}

tr {
  background: #faf0e6;
  
}

.A, 
.C,
.E {
  /* display: inline-block; */
	background: #c1692a;
	padding: 5px 10px;
	cursor: pointer;
}
.E-box{
  width: 50%;
  margin: 0 auto;
}
.A-boxn{
  width: 50%;
  margin: 0 auto;
}
.A {
  margin: 0 auto;
  text-align: center;
  width: 20%;
  min-width: 200px;
  
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}
.B{
  overflow-x: auto;
  transform: rotateX(180deg);
}
.B table{
  border-spacing: 10px;
  border-collapse: separate;
  transform: rotateX(180deg);
}
.B th{
  font-weight: bold;
  font-size: 20px;
  top: 50%;
  align-items: center;
border: solid 1px #fff;
}
.B td{
  padding: 5px;
  border: solid 1px #fff;
  font-size: 15px;
}
.B th td{
  padding: 5px;
  border-collapse: separate
}
.B table{
  margin-bottom: 30px;
  
  width: 90%;
  margin: 0 auto;
  border-spacing: 10px;
  border-collapse: separate;
 
  
}
.travel-box{
	width:50%;
	padding:30px;
	margin:50px auto;
	background-color:#faf0e6;
}
.B table::-webkit-scrollbar{
  height: 10px;
}
.B table::-webkit-scrollbar-thumb{
  background: #aaa;
}
.B table::-webkit-scrollbar-track{
  background: #ddd;
}
.E{
  width: 20%;
  text-align: center;
  margin-top: 10px;
  margin:  0 auto;
  padding: 10px;
  min-width: 200px;
  color: #fff;
  font-size: 20px;
  margin-bottom:100px;
}
.E-box{
  margin-bottom: 80px;
}

.B,
.D,
.F {
  display: none;
  background: #faf0e6;
	/* height: 100px; */
  margin: 0 auto;
}
.F table{
  border-spacing: 10px;
  border-collapse: separate;
}
.F th{
  font-weight: bold;
  font-size: 20px;
  top: 50%;
  align-items: center;
border: solid 1px #fff;
}
.F td{
  padding: 5px;
  border: solid 1px #fff;
  font-size: 15px;
}
.F th td{
  padding: 5px;
  border-collapse: separate
}
.F{
	margin-bottom:100px;
  overflow-x: auto;
  transform: rotateX(180deg);
}
.button006{
	width:50%;
	margin:0 auto;
	padding:10px;
}
.button006 input{
	padding:10px;
	width:100%;
	margin-top:10px;
}
.F table{
	margin:0 auto;
  margin-bottom: 30px;
  display: flex;
  width: 90%;
  border-spacing: 10px;
  border-collapse: separate;
  transform: rotateX(180deg);
  
}

.F table::-webkit-scrollbar{
  height: 10px;
}
.F table::-webkit-scrollbar-thumb{
  background: #aaa;
}
.F table::-webkit-scrollbar-track{
  background: #ddd;
}
.tttou{
  width: 100%;
  margin: 10px auto;
}
.lo-tittle{
  font-weight: bold;
  margin:  0 auto;
  text-align: center;
}
/* 共通CSS */
.containerds {
  width: 50%;
  margin: 0 auto;
 
  }
  
  html {
      min-height: 100%;
      position: relative;
  }
  
  .wrapper {
      padding: 80px 0;
      margin-bottom: 80px;
  }
  
      .wrapper-title {
          margin-bottom: 30px;
          border-bottom: 1px solid #a2aab0;
      }
  
      .wrapper-title h3{
          font-size: 25px;
          color: #333333;
      }
  
      .wrapper-title p {
          font-size: 13px;
          color: #a2aab0;
      }
  
  .btnds {
    display: block;
    padding: 0.8em 1em;
    text-align: center;
    margin: 0 auto;
    border-radius: 100px;
  }
  .btn-box{
    width: 50%;
    margin: 30px auto;
   
  }
  .btn:hover{
      cursor: pointer;
      opacity: .8;
  }
  
  .btn-submit {
      background-color: #C1692A;
      color: #fff;
      width: 60%;
      margin: 0 auto;
      border: solid 1px #C1692A;
  }
  .btn-submitds{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .btnds btn-submit {
      color: #333333;
  
  }

  
  /* login */
  .login-wrapper {
    height:auto;
    width: 100%;
      text-align: center;
      padding: 80px 0 ;
  }
      .login-wrapper-title {
         margin:  0 auto;
          
      }
  
      .login-wrapper-title h3{
          font-size: 25px;
          color: #333333;
      }
  
      .login-wrapper-title p {
          font-size: 12px;
          color: #a2aab0;
      }
  
  .login {
      padding: 50px 0; 
      width: 100%;
      margin: 100px auto;
      background-color: #faf0e6;
  }
      .login-form {
          width: 60%;
          margin: 0 auto;
      }
  
      .login-form input {
          border: none;
          width: 100%;
          height: 25px;
      }
  
      .login-form p {
          text-align: left;
      }
  
      .form-group {
        width: 50%;
        max-width: 400px;
         margin: 5px auto; 
      }
      .form-box {
        width: 100%;
      }
     
  
      .req {
         font-size: 6px; 
         background-color: #dc143c;
         color: #fff;
         padding: 3px;
         border-radius: 7px;
         margin-left: 2px;
      }
  
      .row {
         margin-top: 10px;
      }
  
      input::placeholder,
      textarea::placeholder {
          opacity: 0.5;
          color: #333333;
      }
  
    .copyright {
        position: absolute;
        bottom: 0;
      }    
   
  @media screen and (max-width:800px) {
    
    .h3s {
      font-size: 20px;
    }

    .A {
      width: 20%;
      font-size: 15px;
      padding: 10px;
      margin:  0 auto;
    }
    .A-boxn{
      width: 95%;
    }
    .copyright {
	position: absolute;
	bottom: 0;
  } 
   .B{
    width: 95%;
      overflow-x: auto;
      transform: rotateX(180deg);
   }
    .B table{
      margin-bottom: 30px;
      display: flex;
      width: 90%;
      border-spacing: 10px;
      border-collapse: separate;
     
      transform: rotateX(180deg);
    }
    .B th{
      font-weight: bold;
      font-size: 13px;
      top: 50%;
      align-items: center;
    border: solid 1px #fff;
    }
    .B td{
      padding: 5px;
      border: solid 1px #fff;
      font-size: 15px;
    }
    .B th td{
      padding: 5px;
      border-collapse: separate
    }
   
    .B table::-webkit-scrollbar{
      height: 10px;
    }
    .B table::-webkit-scrollbar-thumb{
      background: #aaa;
    }
    .B table::-webkit-scrollbar-track{
      background: #ddd;
    }
    .E-box{
      width: 95%;
      margin-bottom: 30px;
    }
    .E{
     
      margin-top: 10px;
      padding: 10px;
      color: #fff;
      font-size: 15px;
    }
    
    /* .B,
    .D,
    .F {
      display: none;
      background: #faf0e6;
      /* height: 100px; */
     
    /* }  */
    .F{
      width: 95%;
      overflow-x: auto;
      transform: rotateX(180deg);
    }
 
    .F table{
      margin-bottom: 30px;
      display: flex;
      width: 90%;
      border-spacing: 10px;
      border-collapse: separate;
     
      transform: rotateX(180deg);
    }
    .F table::-webkit-scrollbar{
      height: 50px;
    }
    .F table::-webkit-scrollbar-thumb{
      background: #aaa;
    }
    .F table::-webkit-scrollbar-track{
      background: #ddd;
    }
    .F th{
      font-weight: bold;
      font-size: 15px;
      top: 50%;
      align-items: center;
    border: solid 1px #fff;
    }
    .F td{
      padding: 5px;
      min-width: 130px;
      border: solid 1px #fff;
      font-size: 13px;
    }
    .F th td{
      padding: 5px;
      border-collapse: separate
    }

    /* 観光地登録 */
    .lo-tittle{
      font-weight: bold;
      margin-bottom: 20px;
   
      margin-left: 0px;
      text-align: center;
    }
    .login-wrapper {
      height:auto;
      width: 100%;
        text-align: center;
        padding: 80px 0 ;
    }
        .login-wrapper-title {
          margin: 0px;
        }
    
        .login-wrapper-title h3{
            font-size: 18px;
            color: #333333;
        }
    
        .login-wrapper-title p {
            font-size: 12px;
            color: #a2aab0;
        }
        .containerds{
          width: 100%;
        }
    
    .login {
        padding: 30px 0; 
        width: 95%;
        margin: 30px auto;
        background-color: #faf0e6;
    }
        .login-form {
            width: 60%;
            margin: 0 auto;
        }
    
        .login-form input {
            border: none;
            width: 100%;
            height: 25px;
        }
    
        .login-form p {
            text-align: left;
        }
        
      .form-group {
        width: 80%;
        margin: 5px auto;
    }
    .form-group label{
      font-size: 13px;
    }
    .form-box{
      width: 100%;
    }
   .tttou{
    font-size: 13px;
   }
    
  }
