@charset "UTF-8";

html, body, div, span, iframe,
h1, h2, h4, h5, h6, p, img, a,
ol, ul, li,
form, label,
table, tbody, tfoot, thead, tr, th, td,
article,footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
}

.lo-tittle {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}
/* 共通CSS */
.containerds {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

html {
    min-height: 100%;
    position: relative;
}

.wrapper {
    padding: 80px 0;
    margin-bottom: 80px;
}

    .wrapper-title {
        margin-bottom: 30px;
        border-bottom: 1px solid #a2aab0;
    }

    .wrapper-title h3{
        font-size: 25px;
        color: #333333;
    }

    .wrapper-title p {
        font-size: 13px;
        color: #a2aab0;
    }

.btn {
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
}
.btn-box{
  margin-top: 30px;
}
.btn:hover{
    cursor: pointer;
    opacity: .8;
}

.btn-submit {
    background-color: #c1692a;
    color: #fff;
    margin-top: 15px;
}

/* login */
.login-wrapper {
    text-align: center;
    padding: 80px 0 ;
}
    .login-wrapper-title {
        margin-bottom: 30px;
    }

    .login-wrapper-title h3{
        font-size: 25px;
        color: #333333;
    }

    .login-wrapper-title p {
        font-size: 12px;
        color: #a2aab0;
    }

.login {
    padding: 50px 0; 
    width: 50%;
    margin: 100px auto;
    background-color: #faf0e6;
}

    .login-form {
        width: 60%;
        margin: 0 auto;
    }

    .login-form input {
        border: none;
        width: 100%;
        height: 25px;
    }

    .login-form p {
        text-align: left;
    }

    .form-group {
        margin-bottom: 10px;
    }

  .copyright {
      position: absolute;
      bottom: 0;
    }    

    @media screen and (max-width:800px) {

    .lo-tittle{
        font-weight: bold;
        margin-bottom: 20px;
     
        margin-left: 0px;
        text-align: center;
      }
      .login-wrapper {
        height:auto;
        width: 100%;
          text-align: center;
          padding: 30px 0 ;
      }
          .login-wrapper-title {
            margin: 0px;
          }
      
          .login-wrapper-title h3{
              font-size: 18px;
              color: #333333;
          }
      
          .login-wrapper-title p {
              font-size: 12px;
              color: #a2aab0;
          }
          .containerds{
            width: 100%;
          }
      
      .login {
          padding: 30px 0; 
          width: 95%;
          margin: 30px auto;
          background-color: #faf0e6;
      }
          .login-form {
              width: 60%;
              margin: 0 auto;
          }
      
          .login-form input {
              border: none;
              width: 100%;
              height: 25px;
          }
      
          .login-form p {
              text-align: left;
          }
    }


