@charset "UTF-8";

button{
 padding: 10px;
 background: #c1692a;
 color: #fff;
 border: solid 1px #c1692a;
 border-radius: 25px;
}


.copyright {
	position: absolute;
	bottom: 0;
  } 
  .ruuto-tittle{
  font-size:25px;
  text-align:center;
  margin-top:150px;
  font-weight:bold;
  }
  .ruuro-box{
  width:80%;
  padding:20px;
  bacground-color:#fff;
  margin:0 auto;
  align-items:center;
  display:flex;
  flex-wrap:wrap;
  justify-content: speace-between;
  }
  .jun{
  width:40%;
 }