@charset "UTF-8";

button{
 padding: 10px;
 background: #c1692a;
 color: #fff;
 border: solid 1px #c1692a;
 border-radius: 25px;
 margin:0 auto;
 text-align:center;
}
.undoButton1{
	text-align:center;
	width:50%;
	margin:10px auto;
}

.copyright {
	position: absolute;
	bottom: 0;
  } 
  .ruuto-tittle{
  font-size:25px;
  text-align:center;
  margin-top:150px;
  font-weight:bold;
  }
  .ruuro-boxall{
  width:80%;
   margin:0 auto;
  
  }
  .ruuro-box{
  width:100%;
  padding:20px;
 
  margin:0 auto;
  align-items:center;
  display:flex;
  flex-wrap:wrap;
  justify-content: speace-between;
  }
  .jun{
  width:40%;
    bacground-color:#fff;
    padding:20px;
  margin:0 auto;
 }