@charset "UTF-8";

button{
 padding: 10px;
 background: #c1692a;
 color: #fff;
 border: solid 1px #c1692a;
 border-radius: 25px;
 margin:0 auto;
 text-align:center;
}
.undoButton1{
	text-align:center;
	width:100%;
	margin:10px auto;
}
.undoButton1-1{
	width:100%;
	margin:10px auto;
	
	
}
#toggleButton{
	
}
.toggleButton1{
	width:100%;
	margin:0 auto;
	padding:10px;
}
.toggleButton1-1{
	width:50%;
	margin:0 auto;
}
.copyright {
	position: absolute;
	bottom: 0;
  } 
  .ruuto-tittle{
  font-size:25px;
  text-align:center;
  margin-top:150px;
  font-weight:bold;
  }
  .kinki-img{
  width:80px;
  margin:0 auto;
  margin-bottom:15px;
  }
  
  .ruuro-boxall{
  width:80%;
   margin:30px auto;
  
  }
  .ruuro-box{
  width:100%;
  padding:20px;
 background-color:#fff;
  margin:0 auto;
  align-items:center;
  display:flex;
  flex-wrap:wrap;
  justify-content: speace-between;
  }
  
  .jun{
  width:40%;
  
    padding:20px;
  margin:0 auto;
 }
 .jun-text1{
 margin-bottom:10px;
 }
 .suke{
 width:40%;
  
    padding:20px;
  margin:0 auto;
 }
 .suke-tittle{
 font-size:20px;
 font-weight:bold;
 margin-bottom:10px;
 }
 .spot-btnbox{
 width:50%;
 margin:0 auto;
  display:flex;
  flex-wrap:wrap;
 justify-content: space-between;
  padding-bottom:30px;
 
 }
.submit-btn1{
	width:50%;
}
.submit-btn{
	width:90%;
	margin: 0 auto;
}
 html{
	position:unset;
}
 