<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="../static/css/style_oomuro.css" rel="stylesheet" type="text/css">
  <title>ログイン</title>
</head>

<body>

  <div id="login" class="col s12">
    <form class="col s12">
      <div class="form-container">
        <h3 class="teal-text">Hello</h3>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <br>

          <button class="login_map" type="button" onclick="location.href='map.html'" name="action">ログイン</button>
          <br>
          <br>
          <a href="">Forgotten password?</a>
       
      </div>
    </form>
  </div>

 


</body>