<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理画面</title>
	<link rel="stylesheet" href="css/manager_page.css">
</head>

<body>
	<h1>oritabi</h1>
	<hr>
	<!-- ▼▼▼ 新規登録時のみ表示 ▼▼▼ -->
	<div th:if="${costomerForm.newCostomer}" style="margin: 5px">
		<h3>お客様一覧</h3>
		<!-- 削除完了コメント -->
		<p th:if="${delcomplete}" th:text="${delcomplete}"></p>
		<p th:if="${msg}" th:text="${msg}"></p>

		<!-- ▼▼▼ 顧客情報が1件でもあれば表示 ▼▼▼ -->
		<script src="https://code.jquery.com/jquery.min.js"></script>
		<script>
			$(function () {
				$(".A").click(function () {
					$(".B").slideToggle("");
				});
			});
		</script>

		<div class="A"> 一覧 ⇓ </div>
		<div class="B">
			<table th:unless="${#lists.isEmpty(list)}">
				<tr>
					<th>顧客ID</th>
					<th>名前</th>
					<th>MAIL</th>
					<th>PASSWD</th>
					<th>メモ</th>
				</tr>

				<tr th:each="obj : ${list}" align="center">
					<td th:text="${obj.id}"></td>
					<td th:text="${obj.name}"></td>
					<td th:text="${obj.mail}" align="left"></td>
					<td th:text="${obj.pass}"></td>
					<td th:text="${obj.memo}" align="left"></td>
				</tr>
			</table>
		</div>
		
		<!-- △△△データが一件でもあれば表示△△△ -->
		<!-- ▼▼▼データが一件もない場合表示▼▼▼ -->
		<p th:if="${#lists.isEmpty(list)}">登録されている顧客情報はありません。</p>
		<!-- △△△データが一件もない場合表示△△△ -->
	</div>
	<!-- th:if="${spotForm.newSpot}" -->
	<div style="margin: 5px">
		<h3>観光地スポット<br></h3>
	
			<!-- ▼▼▼ Form ▼▼▼ -->
			<!-- <form method="POST" th:action="${spotForm.newSpot}? @{/oritabi/insertSpot} : @{/oritabi/update}" th:object="${spotForm}"> -->
			<form method="POST" th:action="@{/oritabi/insertSpot}" th:object="${spotForm}">
				<!-- <label>観光地連番</label> -->
				<!-- <input type="text" th:field="*{spotId}" /><br> -->
				<label>観光地名</label>
				<input type="text" th:field="*{spotName}" /><br>
				<label>観光地住所</label>
				<input type="text" th:field="*{address}"><br>
				<label>WEBページ</label>
				<input type="text" th:field="*{web}"><br>
				<label>電話番号</label>
				<input type="text" th:field="*{tel}"><br> 
				<label>オススメ</label><br>
				<textarea rows="5" cols="50" th:field="*{point}"></textarea><br>
				<label>目的ID</label>
				<input type="text" th:field="*{purposeId}"><br>
				<label>画像URL</label>
				<input type="text" th:field="*{imageFileName}"><br>    
				<div class="button006">
				<input type="submit" value="送信">
				</div>
			</form>
			<p th:if="${complete}" th:text="${complete}"></p>
		
		<!-- 削除完了コメント -->
		<p th:if="${delcomplete}" th:text="${delcomplete}"></p>
		<p th:if="${msg}" th:text="${msg}"></p>

		<!-- ▼▼▼ 顧客情報が1件でもあれば表示 ▼▼▼ -->
		<script>
			$(function () {
				$(".E").click(function () {
					$(".F").slideToggle("");
				});
			});
		</script>
		<div class="E">一覧 ⇓</div>
		<div class="F">
			<table th:unless="${#lists.isEmpty(list)}">
				<tr>
					<th>観光地連番</th>
					<th>観光地名</th>
					<th>観光地住所</th>
					<th>WEBページ</th>
					<th>電話番号</th>
					<th>オススメ</th>
					<th>目的ID</th>
					<th>画像URL</th>
					<th>編集</th>
					<th>削除</th>
				</tr>
				<tr th:each="obj : ${list}" align="center">
					<td th:text="${obj.spotId}"></td>
					<td th:text="${obj.spotName}"></td>
					<td th:text="${obj.address}" align="left"></td>
					<td th:text="${obj.web}" align="left"></td>
					<td th:text="${obj.tel}"></td>
					<td th:text="${obj.point}" align="left"></td>
					<td th:text="${obj.imageFileName}" align="left"></td>
					<!-- 				<td th:text="${obj.purpose}"></td> -->
					<td th:text="${obj.tel}"></td>
					<!-- 編集ボタン -->
					<td>
						<form method="GET" th:action="@{/teamB/{id}(id=${obj.spotId})}">
							<input type="submit" value="編集">
						</form>
					</td>
					<!-- 削除ボタン -->
					<td>
						<form method="POST" th:action="@{/teamB/delete}">
							<input type="hidden" name="id" th:value="${obj.spot_id}">
							<input type="submit" value="削除">
						</form>
					</td>
				</tr>
			</table>
		</div>
		<br>
		<!-- △△△データが一件でもあれば表示△△△ -->
		<!-- ▼▼▼データが一件もない場合表示▼▼▼ -->
		<p th:if="${#lists.isEmpty(list)}">登録されている観光情報はありません。</p>
		<!-- △△△データが一件もない場合表示△△△ -->
	</div>
	<!-- △△△新規登録時のみ表示△△△ -->
	<!-- ▼▼▼新規登録時でない時に表示▼▼▼ -->
	<p th:unless="${costomerForm.newCostomer}">
		<a href="#" th:href="@{/teamB}"  type="button" onclick="location.href='manager_login.html'">ログアウト</a>
	</p>
	<!-- △△△新規登録時でない時に表示△△△ -->

</body>

</html>