<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>観光地編集</title>
<link rel="stylesheet" href="../static/css/manager_henshu.css">
</head>
<body>
  <form method="POST" th:action="${spotForm.tourist}? @{/teamB/insert} : @{/teamB/update}" th:object="${spotForm}">
    <label>観光地連番</label>
    <input type="text" th:field="*{spot_id}" /><br>
    <label>観光地名</label>
    <input type="text" th:field="*{spot_name}" /><br>
    <label>観光地住所</label>
    <input type="text" th:field="*{address}"><br>
    <label>WEBページ</label>
    <input type="text" th:field="*{web}"><br>
    <label>電話番号</label>
    <input type="text" th:field="*{tel}"><br> 
    <label>オススメ</label><br>
    <textarea rows="5" cols="50" th:field="*{memo}"></textarea><br>
    <label>目的ID</label>
    <input type="text" th:field="*{purpose}"><br>
    <label>画像URL</label>
    <input type="text" th:field="*{img}"><br>    
    <div class="button006">
    <input type="submit" value="送信">

    </div>
  </form>
</body>
</html>