<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/myPage.css">
<title>☆マイページ☆</title>
</head>
<body>

	<div id="headline">
		<h1 class="mypage">マイページ</h1>
	</div>

	<div id="name">
		<!-- formやmodelから名前を持ってきて表示 -->
		<h2>名前表示</h2>
	</div>

	<div class="element">
		<h3>
			<a href="スケジュールのURL" target="_blank" rel="noopener noreferrer">スケジュール</a>
		</h3>

		<h3>
			<a href="「④スポットMAP」へ戻るURL" target="_blank" rel="noopener noreferrer">修正する</a>
		</h3>

		<h3>
			<!-- リマインドボタン -->
		</h3>

		<h3>
			<!-- メモ帳 -->
			<label>メモ帳</label><br>
			<textarea rows="5" cols="30"></textarea>
		</h3>

	</div>
</body>
</html>