<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="../static/imag/logo3png.png">
<link rel="stylesheet" href="css/myPage.css">
<title>☆マイページ☆</title>
<!--headerのjs-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="js/jquery-3.2.1.min.js"></script>

<!--リセットユイ-->
<link rel="stylesheet" type="text/css"
	href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

<!--headercss-->
<link href="../static/css/meanmenu.css" rel="stylesheet" type="text/css">
<link href="../static/css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link href="../static/css/header.css" rel="stylesheet" type="text/css">
<!--css-->
<link href="../static/css/i-style.css" rel="stylesheet" type="text/css">
<link href="../static/css/parts.css" rel="stylesheet" type="text/css">

<!--font-awesome-->
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
	integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI="
	crossorigin="anonymous" />

<!--jquery cdn-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--googlefont細-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap"
	rel="stylesheet">
<!--googlefont太-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
	rel="stylesheet">
<!--googlefontRoboto-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
	rel="stylesheet">


<!--scroll.js-->
<script type="text/javascript" src="js/scroll.js"></script>

<!--slider-->
<link href="../static/css/slick.css" rel="stylesheet" type="text/css">
<link href="../static/css/slick-theme.css" rel="stylesheet"
	type="text/css">

<!--headerscript-->
<script type="text/javascript">
	$(function($) {
		//メニューの表示状態保管用
		var state = false;
		//.bodyのスクロール位置
		var scrollpos = 0;
		//meanmenuの状態による表示制御
		function mm_control() {
			if ($('.mean-nav .nav').is(':visible')) {
				//表示中
				if (state == false) {
					scrollpos = $(window).scrollTop();
					$('body').addClass('fixed').css({
						'top' : -scrollpos
					});
					$('.mean-container').addClass('open');
					$('.mean-nav .mask').show();
					state = true;
				}
			} else {
				//非表示中
				if (state == true) {
					$('body').removeClass('fixed').css({
						'top' : 0
					});
					window.scrollTo(0, scrollpos);
					$('.mean-container').removeClass('open');
					$('.mean-nav .mask').hide();
					state = false;
				}
			}
		}

		$('#gNav').meanmenu({
			meanMenuContainer : "#header .h_nav", // メニューを表示させる位置
			meanScreenWidth : "768"
		});
		$(document).on('opend.meanmenu closed.meanmenu', function() {
			mm_control();
		}).on('touchend click', '.mean-bar .mask', function(e) {
			$('.mean-bar .meanmenu-reveal').trigger('click');
			return false;
		});
		//ウィンドウサイズ変更によるメニュー非表示時の制御
		$(window).on('resize', function() {
			mm_control();
		});
	});
</script>

<!--sliderscript-->
<script>
	//ヘッダー　検索ボタン
	$(function() {
		$(".menubtn").click(function() {
			$("#menu").slideToggle();
		});
	});

	//フッター　メニュー
	$(function() {
		$(".f_menubtn").click(function() {
			$(".f_open").slideToggle();

		});
	});

	$(function() {

		$('.tab li').click(function() {
			var index = $('.tab li').index(this);

			//コンテンツを非表示に
			$('.content li').css('display', 'none');
			//クリックされた番号のコンテンツを表示
			$('.content li').eq(index).css('display', 'block');

			//tabについてる'tab_current'を消す
			$('.tab li').removeClass('tab_current');
			//クリックしたタブにのみ'tab_current'をつける
			$(this).addClass('tab_current')

		});
	});

	//スクロール
	$(function() {
		$(window).scroll(function() {

			if ($(this).scrollTop() > 10) {
				$('#articles-scroll').addClass('is-fixed');
			} else {
				$('articles-scroll').removeClass('is-fixed');
			}
		})
	})
</script>
<!--さわらびゴシック-->
<script>
	(
					function(d) {
						var config = {
							kitId : 'wum1xfc',
							scriptTimeout : 3000,
							async : true
						}, h = d.documentElement, t = setTimeout(function() {
							h.className = h.className.replace(
									/\bwf-loading\b/g, "")
									+ " wf-inactive";
						}, config.scriptTimeout), tk = d
								.createElement("script"), f = false, s = d
								.getElementsByTagName("script")[0], a;
						h.className += " wf-loading";
						tk.src = 'https://use.typekit.net/' + config.kitId
								+ '.js';
						tk.async = true;
						tk.onload = tk.onreadystatechange = function() {
							a = this.readyState;
							if (f || a && a != "complete" && a != "loaded")
								return;
							f = true;
							clearTimeout(t);
							try {
								Typekit.load(config)
							} catch (e) {
							}
						};
						s.parentNode.insertBefore(tk, s)
					})(document);
</script>


</head>
<body>
	<div id="top"></div>
	<header id="header">
		<div class="container">
			<div id="h_top">
				<div class="h_logo">
					<a href=""><img src="../static/imag/logo2.png" alt="" /></a>
				</div>
				<div class="h_nav">
					<nav id="gNav">
						<ul class="nav">
							
							<li><a href="#top">TOP</a></li>
							<li><a th:href="@{/oritabi/register}" class="btn-sin">新規登録</a></li>
							<li><a th:href="@{/oritabi/manager_login}" class="btn-log">ログイン</a></li>

						</ul>
						<div class="mask"></div>
					</nav>
				</div>
			</div>
		</div>
	</header>


	<header class="mheader">
		<div class="pc_menuFlex">
			<div class="i-logo">
				<a href="#"><img src="../imag/logo22.png" alt="" /></a>
			</div>
			<div class="pc_menu">
				<ul>
					<li><a href="#nav01">ボタン</a></li>
					<li><a href="#nav02">ボタン</a></li>
					<li><a th:href="@{/oritabi/register}" class="btn-sin">新規登録</a></li>
					<li><a th:href="@{/oritabi/manager_login}" class="btn-log">ログイン</a></li>
				</ul>
			</div>
		</div>
	</header>


	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div id="headline">
		<h1 class="headline">マイページ</h1>
	</div>

	<div id="name">
		<!-- ログイン時に客情報をListかなんかに入れて、そこから名前を持ってきて表示？ -->
		<table th:method="POST" th:action="@{/oritabi/costomerList}">
			<tr>
				<th>名前</th>
			</tr>

			<tr>
				<!-- <td th:text="${costomer.name}"></td> -->
			</tr>
		</table>
	</div>

	<div class="element">

		<!-- ▼▼▼ 以下テーブルはスケジュール表 ▼▼▼ -->
		<!-- データベースから引っ張ってきたい -->
		<table id="table" border="1">
			<tr>
				<th colspan="3">スケジュール</th>
			</tr>
			<!-- 以下の名前と場所(URL)の行は th:each="【要素格納用変数】:${【繰り返し処理するオブジェクト】}
				を使った繰り返し処理の方が楽にできそう___教科書(p.151)___ -->
			<tr>
				<th>名前</th>
				<th>場所(URL)</th>
			</tr>
			<tr>
				<td>名前</td>
				<td>場所(URL)</td>
			</tr>
			<tr>
				<td>名前</td>
				<td>場所(URL)</td>
			</tr>
		</table>
		<!-- ▲▲▲ 以上テーブル ▲▲▲ -->

		<div class="button">
			<!-- ▼▼▼ 以下修正ボタン（ひとつ前のページのリンク）▼▼▼ -->
			<h3 class="shusei">
				<button type="button" onclick="location.href='map'">修正する</button>
			</h3>
			<!-- ▲▲▲以上修正ボタン ▲▲▲-->

			<!-- ▼▼▼以下保存ボタン▼▼▼ -->
			<h3 class="hozon">
				<input type="submit" value="保存">
			</h3>
			<!-- ▲▲▲以上保存ボタン▲▲▲ -->
		</div>


		<h3>
			<!-- リマインドボタン -->
			<!-- いまいち作り方が思いつかない -->
		</h3>


		<h3>
			<!-- メモ帳 -->
			<label>メモ帳</label><br>
			<textarea rows="5" cols="30"></textarea>
		</h3>


		<h4>
			<!-- 下記コメントはログアウト専用の公式みたいなもの。たぶん使わない。 -->
			<!-- <form name="Logout" method="post" action="/cgi-bin/Logout.cgi">
			<input type="submit" value="Logout" />
			</form> -->
			<a href="out.html">ログアウト</a>
		</h4>
	</div>
	<!--footer-------------------------------------------->
	<div class="f_menu">


		<!--footer_ナビゲーション-->
		<ul>
			<li></li>

			<li></li>

			<li></li>

			<li></li>

			<li>
				<div class="f_menubtn">
					<div>
						<i class="fas fa-bars"></i>
					</div>
				</div>

			</li>
		</ul>
	</div>
	<!--footer_メニューの中身-->
	<div class="f_open">
		<div class="f_logo">
			<img src="../imag/logo22.png" alt="" />
		</div>

		<div class="category_list">
			<dl>
				<dd>ボタン</dd>
			</dl>

			<dl>
				<dd>ボタン</dd>
			</dl>

			<dl>
				<dd>
					<a th:href="@{/oritabi/register}"><div class="btn-sin">新規登録</div></a>
				</dd>
			</dl>

			<dl>
				<dd>
					<a th:href="@{/oritabi/manager_login}"><div class="btn-log">ログイン</div></a>
				</dd>
			</dl>
		</div>

	</div>



	<footer>
		<p class="copyright">©︎Oritabi All Rights Reserved.</p>
	</footer>
	<!--sliderのjs-------------------------------------------->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="js/test.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>



</body>
</html>