<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../static/css/style_oomuro.css" rel="stylesheet" type="text/css">

    <title>大阪エリア</title>
</head>

<body>
    <div class="osaka">
        <h1>大阪エリア</h1>
        

        <div class="food">
            <div class="img"><a target="_blank" rel="noopener noreferrer" href="spot_food.html"><img src="../imag/takoyaki.png"></a></div>
            <h3>食べる</h3>
        </div>
        <div class="look">
            <div class="img"><a target="_blank" rel="noopener noreferrer" href="spot_tour.html"><img src="../imag/osakajyou.png"></a></div>
            <h3>見る</h3>

        </div>
        <div class="play">
            <div class="img"><a target="_blank" rel="noopener noreferrer" href="spot_active.html"> <img src="../imag/g4.png"></a></div>
            <h3>遊ぶ</h3>
        </div>
    </div>




</body>

</html>