<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../static/css/style_oomuro.css" rel="stylesheet" type="text/css">
    <title>観光スポット一覧</title>
</head>

<body>
    <div class="oosaka">
        <h2>大阪エリア</h2>

        <div class="tab">
            <div class="tabbox">
                <input type="radio" name="tabset" id="tabcheck1" checked>
                <label for="tabcheck1" class="tab">食べる</label>
                <input type="radio" name="tabset" id="tabcheck2">
                <label for="tabcheck2" class="tab">観る</label>
                <input type="radio" name="tabset" id="tabcheck3">
                <label for="tabcheck3" class="tab">遊ぶ</label>

                <div class="tabcontent" id="tabcontent1">

                    <h3>食べる</h3>

                    <div class="kita">
                        <h4>北エリア</h4>

                        <ul>
                            <li class="yukari">
                                <a target="_blank" rel="noopener noreferrer" href="https://www.yukarichan.co.jp/">
                                    <h3>お好み焼ゆかり 曾根崎本店</h3>
                                    <div class="img_yukari">
                                        <img src="../imag/yukari.jpg">
                                    </div>
                                </a>
                                <p>フワフワで美味しい</p>
                                <address>
                                    <a href="https://www.yukarichan.co.jp/">大阪市北区曽根崎2-14-13</a><br>
                                    <a href="tel:06-6311-0214">TEL:06-6311-0214</a>
                                </address>
                            </li>



                        </ul>
                    </div>

                    <div class="minami">
                        <h4>南エリア</h4>

                        <ul>
                            <li></li>
                        </ul>
                    </div>

                </div>


                <div class="tabcontent" id="tabcontent2">

                    <h3>観る</h3>

                    <ul>
                        <li class="oosakajyou">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.osakacastle.net/">
                                <h3>大坂城</h3>
                                <div class="img_oosakajyou">
                                    <img src="../imag/oosakajyou.jpg">
                                </div>
                            </a>
                            <p>都会のど真ん中のお城</p>
                            <address>
                                <a href="https://www.osakacastle.net/">大阪市中央区大阪城 1-1</a><br> <a
                                    href="tel:06-6941-3044">TEL:06-6941-3044</a>
                            </address>
                        </li>


                        <li class="tsutenkaku">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.tsutenkaku.co.jp/">
                                <h3>通天閣/新世界</h3>
                                <div class="img_tsutenkaku">
                                    <img src="../imag/tsutenkaku.jpg">
                                </div>
                            </a>
                            <p>天望パラダイス</p>
                            <address>
                                <a href="https://www.tsutenkaku.co.jp/">大阪市浪速区恵美須東１丁目１８-6</a><br>
                                <a href="tel:06-6641-9555">TEL:06-6641-9555</a>
                            </address>
                        </li>

                        <li class="tarou">
                            <a target="_blank" rel="noopener noreferrer" href="https://taiyounotou-expo70.jp/">
                                <h3>太陽の塔</h3>
                                <div class="img_tarou">
                                    <img src="../imag/taiyounotou.jpg">
                                </div>
                            </a>
                            <p>岡本太郎の芸術作品</p>
                            <address>
                                <a href="https://taiyounotou-expo70.jp/">吹田市千里 万博公園1-1</a><br>
                                <a href="tel: 0120-197-089">TEL: 0120-197-089</a>
                            </address>
                        </li>

                        <li class="ngk">
                            <a target="_blank" rel="noopener noreferrer" href="https://ngk.yoshimoto.co.jp/">
                                <h3>なんばグランド花月</h3>
                                <div class="img_ngk">
                                    <img src="../imag/nanbakagetu.jpg">
                                </div>
                            </a>
                            <p>日本最高峰の笑いが集まるところ</p>
                            <address>
                                <a href="https://ngk.yoshimoto.co.jp/">大阪市中央区難波千日前11-6</a><br>
                                <a href="tel:06-6641-0888">TEL: 06-6641-0888</a>
                            </address>
                        </li>
                    </ul>
                </div>



                <div class="tabcontent" id="tabcontent3">

                    <h3>遊ぶ</h3>

                    <ul>
                        <li class="usj">

                            <a target="_blank" rel="noopener noreferrer" href="https://www.usj.co.jp/web/ja/jp">
                                <h3>ユニバーサルスタジオジャパン</h3>
                                <div class="img_usj">
                                    <img src="../imag/USJ_image.jpg">
                                </div>
                            </a>
                            <p>一日中楽しめる!!!</p>
                            <address>
                                <a href="https://www.usj.co.jp/web/ja/jp">大阪市此花区桜島2-1-33</a><br>
                                <a href="tel:06-6465-3000">TEL:06-6465-3000</a>
                            </address>
                        </li>

                        <li class="cupnoodles">
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://www.cupnoodles-museum.jp/ja/osaka_ikeda/">
                                <h3>カップラーメンミュージアム</h3>
                                <div class="img_cup">
                                    <img src="../imag/cupnoodlesM.jpg">
                                </div>
                            </a>
                            <p>オリジナルカップラーメンが作れる</p>
                            <address>
                                <a href="https://www.cupnoodles-museum.jp/ja/osaka_ikeda/">大阪府池田市満寿美町8-25</a><br>
                                <a href="tel:072-752-3484">TEL:072-752-3484</a>
                            </address>
                        </li>

                        <li class="kaiyukan">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.kaiyukan.com/">
                                <h3>海遊館</h3>
                                <div class="img_kaiyukan">
                                    <img src="../imag/kaiyuukann.jpg">
                                </div>
                            </a>
                            <p>世界最大級の水族館</p>
                            <address>
                                <a href="https://www.kaiyukan.com/">大阪府大阪市港区海岸通1-1-10</a><br> <a
                                    href="tel:06-6576-5501">TEL:06-6576-5501</a>
                            </address>
                        </li>

                        <li class="tennoujizoo">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.tennojizoo.jp/">
                                <h3>天王寺動物園</h3>
                                <div class="img_zoo">
                                    <img src="../imag/tennnoujizoo.jpg">
                                </div>
                            </a>
                            <p>動物園で楽しく学ぼう</p>
                            <address>
                                <a href="https://www.tennojizoo.jp/">大阪市天王寺区茶臼山町1-108</a><br> <a
                                    href="tel:06-6576-5501">TEL:06-6771-8401</a>
                            </address>
                        </li>
                    </ul>
                </div>



            </div>
        </div>

        <br>

        <div class="pickup">
            <a target="_blank" rel="noopener noreferrer" >
            </a>
            <button type="button" onclick="location.href='map.html'">pickup</button>
            </a>
        </div>


    </div>

</body>

</html>