<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../static/css/style_oomuro.css" rel="stylesheet" type="text/css">
    <title>観光</title>
</head>

<body>
    <div class="tour">

        <div class="oosakajyou">
            <a target="_blank" rel="noopener noreferrer" href="https://www.osakacastle.net/">
                <h3>大坂城</h3>
                <div class="img_oosakajyou"><img src="../imag/oosakajyou.jpg"></div>
            </a>
            <p>都会のど真ん中のお城</p>
            <address>
                <a href="https://www.osakacastle.net/">大阪市中央区大阪城 1-1</a><br>
                <a href="tel:06-6941-3044">TEL:06-6941-3044</a>
            </address>
        </div>


        <div class="tsutenkaku">
            <a target="_blank" rel="noopener noreferrer" href="https://www.tsutenkaku.co.jp/">
                <h3>通天閣/新世界</h3>
                <div class="img_tsutenkaku"><img src="../imag/tsutenkaku.jpg"></div>
            </a>
            <p>天望パラダイス</p>
            <address>
                <a href="https://www.tsutenkaku.co.jp/">大阪市浪速区恵美須東１丁目１８-6</a><br>
                <a href="tel:06-6641-9555">TEL:06-6641-9555</a>
            </address>
        </div>
 
        <div class="tarou">
            <a target="_blank" rel="noopener noreferrer" href="https://taiyounotou-expo70.jp/">
                <h3>太陽の塔</h3>
                <div class="img_tarou"><img src="../imag/taiyounotou.jpg"></div>
            </a>
            <p>岡本太郎の芸術作品</p>
            <address>
                <a href="https://taiyounotou-expo70.jp/">吹田市千里 万博公園1-1</a><br>
                <a href="tel: 0120-197-089">TEL: 0120-197-089</a>
            </address>
        </div>

        <div class="ngk">
            <a target="_blank" rel="noopener noreferrer" href="https://ngk.yoshimoto.co.jp/">
                <h3>なんばグランド花月</h3>
                <div class="img_ngk"><img src="../imag/nanbakagetu.jpg"></div>
            </a>
            <p>日本最高峰の笑いが集まるところ</p>
            <address>
                <a href="https://ngk.yoshimoto.co.jp/">大阪市中央区難波千日前11-6</a><br>
                <a href="tel:06-6641-0888">TEL: 06-6641-0888</a>
            </address>
        </div>




    </div>
    

    <h3>道頓堀</h3>

    
</body>

</html>