<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" th:src="@{/imag/logo3.png}">
<title>ORITABI</title>
<!--headerのjs-->
<script src="@{js/jquery-3.2.1.min.js}"></script>

<script src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/slick-1.8.1/slick/slick.js}"></script>

<!--リセットユイ-->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

<!--headercss-->
<link th:href="@{/css/meanmenu.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css">
<!--css-->
<link th:href="@{/css/i-style.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/parts.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/top.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/slick-them.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/slickds.css}" rel="stylesheet" type="text/css">

<!--font-awesome-->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />

<!--jquery cdn-->	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--googlefont細-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
<!--googlefont太-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<!--googlefontRoboto-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">


<!--scroll.js-->
<script type="text/javascript" src="js/scroll.js"></script>
	
<!--slider-->
<link th:href="@{/css/slick.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/slick-theme.css}" rel="stylesheet" type="text/css">

<!--headerscript-->
<script type="text/javascript">
$(function($){
	//メニューの表示状態保管用
	var state = false;
	//.bodyのスクロール位置
	var scrollpos = 0;
	//meanmenuの状態による表示制御
	function mm_control() {
		if($('.mean-nav .nav').is(':visible')) {
			//表示中
			if(state == false) {
				scrollpos = $(window).scrollTop();
				$('body').addClass('fixed').css({'top': -scrollpos});
				$('.mean-container').addClass('open');
				$('.mean-nav .mask').show();
				state = true;
			}
		} else {
			//非表示中
			if(state == true) {
				$('body').removeClass('fixed').css({'top': 0});
				window.scrollTo( 0 , scrollpos );
				$('.mean-container').removeClass('open');
				$('.mean-nav .mask').hide();
				state = false;
			}
		}
	}

	$('#gNav').meanmenu({
	    meanMenuContainer: "#header .h_nav", // メニューを表示させる位置
	    meanScreenWidth: "768"
	});
	$(document)
	.on('opend.meanmenu closed.meanmenu', function() {
		mm_control();
	})
	.on('touchend click', '.mean-bar .mask', function(e) {
		$('.mean-bar .meanmenu-reveal').trigger('click');
		return false;
	});
	//ウィンドウサイズ変更によるメニュー非表示時の制御
	$(window).on('resize', function() {
		mm_control();
	});
});
</script>
	
<!--sliderscript-->
<script>
	
	//ヘッダー　検索ボタン
	  $(function(){
   $(".menubtn").click(function(){
     $("#menu").slideToggle();
   });
  });
		
		
		
	//フッター　メニュー
  $(function(){
   $(".f_menubtn").click(function(){
     $(".f_open").slideToggle();
	   
   });
  });
		
	
	 $(function(){
		 
		 $('.tab li').click(function(){
			 var index = $('.tab li').index(this);
			 
			 //コンテンツを非表示に
			 $('.content li').css('display','none');
			 //クリックされた番号のコンテンツを表示
			 $('.content li').eq(index).css('display','block');
			 
			 
			 
			 //tabについてる'tab_current'を消す
			 $('.tab li').removeClass('tab_current');
			 //クリックしたタブにのみ'tab_current'をつける
			 $(this).addClass('tab_current')
			 
		 }); 
	 });
	
	
	
	//スクロール
		$(function (){
		$(window).scroll(function (){
			
			if ($(this).scrollTop() > 10) {
				$('#articles-scroll').addClass('is-fixed');
			} else{
				$('articles-scroll').removeClass('is-fixed');
			}
		})
	})
		
	
	
	</script>
<!--さわらびゴシック-->
<script>
  (function(d) {
    var config = {
      kitId: 'wum1xfc',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>



	<script>
		$(document).ready(function(){
		  $('.slider-box').slick({
			  dots:true,
			  autoplay:true,
		  });
		});</script>
			<script>
		$(document).ready(function(){
		  $('.slider-boxds').slick({
			  dots:true,
			  autoplay:true,
		  });
		});</script>
		
			
		<script>
		(function($){
		
		$(function(){
		   $(window).scroll(function(){
			  var scr = $(window).scrollTop();
			  if(scr > 500){
				 $('#logo').addClass('mini');
			  }else{
				 $('#logo').removeClass('mini');
			  }
		   })
		})
		})(jQuery);
			   </script>

			   <!-- アニメーション -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			$(function(){
 
 $(window).on('load scroll', function(){
   //現時点のスクロールの高さ取得
   var scrollPosition = $(window).scrollTop();
   //ウィンドウの高さ取得
   var windowHeight = $(window).height();

   $('.oritabi-contentbox').each(function(){
	 //要素の位置（高さ）を取得
	 var elemPosition = $(this).offset().top;
	 //スクロールの高さが要素の位置を超えたら以下のスタイルを適用
	 if(elemPosition < scrollPosition + windowHeight){
	   $(this).css({
		 opacity: 1,
		 transform: 'translateY(0)'
	   });
	 }
   });
 });

});
			</script>

			<script>
				$(function(){
	 
	 $(window).on('load scroll', function(){
	   //現時点のスクロールの高さ取得
	   var scrollPosition = $(window).scrollTop();
	   //ウィンドウの高さ取得
	   var windowHeight = $(window).height();
	
	   $('.kinnki-box').each(function(){
		 //要素の位置（高さ）を取得
		 var elemPosition = $(this).offset().top;
		 //スクロールの高さが要素の位置を超えたら以下のスタイルを適用
		 if(elemPosition < scrollPosition + windowHeight){
		   $(this).css({
			 opacity: 1,
			 transform: 'translateY(0)'
		   });
		 }
	   });
	 });
	
	});
				</script>
				<script>
					$(function(){
$('a[href^=#]').click(function() {
var speed = 500; // スクロール速度(ミリ秒)
var href = $(this).attr("href");
var target = $(href == "#" || href == "" ? 'html' : href);
var position = target.offset().top;
$('html').animate({scrollTop:position}, speed, 'swing');
return false;
});
});
					</script>
				
</head>

<body>
	<div id ="top"></div>
	<div id="logo_loader" class="open">

	  <div class="f_logo">
	
		<img th:src="@{/imag/logo2.png}" alt=""/>
	
	  </div>
	
	</div>
	<header id="header">
	<div class="container">
		<div id="h_top">
		    <div class="h_logo"><a href="@{/oritabi/top}"><img th:src="@{/imag/logo2.png}" alt=""/></a></div>
			<div class="h_nav">
				<nav id="gNav">
					<ul class="nav">
						<li><a href="#top">TOP</a></li>
						<li><a th:href="@{/oritabi/register}"  class="btn-sin">新規登録</a></li>
						<li><a th:href="@{/oritabi/manager_login}" class= "btn-log">ログイン</a></li>
					</ul>
					<div class="mask"></div>
				</nav>
			</div>
		</div>
	</div>
</header>

	
	<header class="mheader">
		<div class="pc_menuFlex">
			<div class="i-logo"><a href="#"><img th:src="@{/imag/logo2.png}" alt=""/></a>
			</div>
			<div class="pc_menu">
				<ul>
					<li><a href="#top">TOP</a></li>
					<li><a th:href="@{/oritabi/register}"  class="btn-sin">新規登録</a></li>
					<li><a th:href="@{/oritabi/manager_login}" class= "btn-log">ログイン</a></li>
				</ul>
			</div> 
		</div>
	</header>




	<div class="hero-img">
		<!-- <img src="/Users/konkou/Desktop/トップページ/images/gallery-bg.jpeg"> -->
		<div class="hero-map"><img th:src="@{/imag/m.png}"></div>
	<div class ="hero-content">
		<p class ="hero-tittle">あなたの旅を記録に残そう</p>
		<p class="hero-text">大切な人との時間をもっと大切にしよう<br>
			Oritabiで最高の時間を

		</p>
		<a href="#link01"><p class="text-link">行き先を決めよう→</p></a>
	</div>
	<a href="#link02"><div class ="sclol"><img th:src ="@{/imag/scrol.png}"></div></a>
	</div>
	
<div id="link02">
	<div class ="oritabi-contentbox">
		<div class ="kinki-img"><img th:src="@{/imag/siori.png}"></div>
		   <div class ="oritabitittle">旅のしおり作成</div>
		   <div class ="oritabi-box">
			   <div class ="tabi-textbox">
				   <p class ="tabi-tittle">ORITABIで思い出を残そう</p>
				   <p>ORITABIは共有を前提とした旅のしおり。<br>
					大切な思い出をずっと手元に残しましょう。<br>
					ワイワイ楽しく旅を盛り上げます。</p>

			   </div>
			   <div class="tabi-imgbox"><img th:src="@{/imag/gallery-bg.jpeg}"></div>

		   </div>
		  
		</div>
	</div>

	
	  
		<div id ="link01">
	   <div class="kinnki-box">
		   
		   <div class ="kinki-tittle"><div class ="kinki-img"><img th:src="@{/imag/logo3.png}"></div>向かう旅先を選択しよう</div>
		   <div class ="kinki-region">
			   <div class ="prefecture">
				   
				   <a th:href="@{/oritabi/register}"><img th:src="@{/imag/osaka.png}"></a>
				   <a th:href="@{/oritabi/register}"><p class ="prefecture-text">大阪</p></a>
			</div>
				<div class ="prefecture">
				
					<a href ="" class="prefecture-btn"><img th:src="@{/imag/hyougo.png}"></a>
					<a href=""><p class ="prefecture-text">兵庫</p></a>
				</div>
				 <div class ="prefecture">
					
					<a href =""class="prefecture-btn"><img th:src="@{/imag/kyouto.png}"></a>
					<a href=""><p class ="prefecture-text">京都</p></a>
				</div>
				 <div class ="prefecture">
					
					<a href =""class="prefecture-btn"><img th:src="@{/imag/nara.png}"></a>
					<a href=""><p class ="prefecture-text">奈良</p></a>
				</div>
				 <div class ="prefecture">
					
					<a href =""class="prefecture-btn"> <img th:src="@{/imag/wakayama.png}"></a>
					<a href=""><p class ="prefecture-text">和歌山</p></a>
				</div>
				 <div class ="prefecture">
				
					<a href =""class="prefecture-btn"><img th:src="@{/imag/siga.png}"></a>
					<a href=""><p class ="prefecture-text">滋賀</p></a>
				</div>
			  



		   </div>
		   
	   </div>
	</div>

	<!--footer-------------------------------------------->
	<div class="f_menu">
		
		
		<!--footer_ナビゲーション-->
		<ul>
			<li></li>
			
			<li></li>
			
			<li></li>
			
			<li></li>
			
			<li>
					<div class="f_menubtn">
						<div><i class="fas fa-bars"></i></div>
					</div>
				
			</li>
		</ul>
	</div>
	<!--footer_メニューの中身-->
			<div class="f_open">
				<div class="f_logo">
				 <img th:src="@{/imag/logo22.png}" alt=""/>
				</div>
				
				<div class="category_list">
					
					
					<dl>
						<dd>TOP</dd>
					</dl>
					
					<dl>
						<dd><a th:href ="@{/oritabi/register.html}"><div class="btn-sin">新規登録</div></a></dd>
					</dl>
					
					<dl>
						<dd><a th:href="@{/oritabi/manager_login.html}"><div class= "btn-log">ログイン</div></a></dd>
					</dl>
			</div>

	</div>
	
	
	
	<footer>
	<p class="copyright">
		©︎Oritabi　All Rights Reserved.
    </p>
	</footer>
	<!--sliderのjs------------------------------------------ -->
<script type="text/javascript"src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/test.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>

</body>
</html>
