<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="images/favicon.png">
<title>ぽちきふ</title>
<!--headerのjs-->
<script src="js/jquery-3.2.1.min.js"></script>

<!--リセットユイ-->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

<!--headercss-->
<link href="../static/css/meanmenu.css" rel="stylesheet" type="text/css">
<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../static/css/header.css" rel="stylesheet" type="text/css">
<!--css-->
<link href="../static/css/i-style.css" rel="stylesheet" type="text/css">
<link href="../static/css/parts.css" rel="stylesheet" type="text/css">

<!--font-awesome-->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />

<!--jquery cdn-->	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--googlefont細-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
<!--googlefont太-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<!--googlefontRoboto-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">


<!--scroll.js-->
<script type="text/javascript" src="js/scroll.js"></script>
	
<!--slider-->
<link href="../static/css/slick.css" rel="stylesheet" type="text/css">
<link href="../static/css/slick-theme.css" rel="stylesheet" type="text/css">

<!--headerscript-->
<script type="text/javascript">
$(function($){
	//メニューの表示状態保管用
	var state = false;
	//.bodyのスクロール位置
	var scrollpos = 0;
	//meanmenuの状態による表示制御
	function mm_control() {
		if($('.mean-nav .nav').is(':visible')) {
			//表示中
			if(state == false) {
				scrollpos = $(window).scrollTop();
				$('body').addClass('fixed').css({'top': -scrollpos});
				$('.mean-container').addClass('open');
				$('.mean-nav .mask').show();
				state = true;
			}
		} else {
			//非表示中
			if(state == true) {
				$('body').removeClass('fixed').css({'top': 0});
				window.scrollTo( 0 , scrollpos );
				$('.mean-container').removeClass('open');
				$('.mean-nav .mask').hide();
				state = false;
			}
		}
	}

	$('#gNav').meanmenu({
	    meanMenuContainer: "#header .h_nav", // メニューを表示させる位置
	    meanScreenWidth: "768"
	});
	$(document)
	.on('opend.meanmenu closed.meanmenu', function() {
		mm_control();
	})
	.on('touchend click', '.mean-bar .mask', function(e) {
		$('.mean-bar .meanmenu-reveal').trigger('click');
		return false;
	});
	//ウィンドウサイズ変更によるメニュー非表示時の制御
	$(window).on('resize', function() {
		mm_control();
	});
});
</script>
	
<!--sliderscript-->
<script>
	
	//ヘッダー　検索ボタン
	  $(function(){
   $(".menubtn").click(function(){
     $("#menu").slideToggle();
   });
  });
		
		
		
	//フッター　メニュー
  $(function(){
   $(".f_menubtn").click(function(){
     $(".f_open").slideToggle();
	   
   });
  });
		
	
	 $(function(){
		 
		 $('.tab li').click(function(){
			 var index = $('.tab li').index(this);
			 
			 //コンテンツを非表示に
			 $('.content li').css('display','none');
			 //クリックされた番号のコンテンツを表示
			 $('.content li').eq(index).css('display','block');
			 
			 
			 
			 //tabについてる'tab_current'を消す
			 $('.tab li').removeClass('tab_current');
			 //クリックしたタブにのみ'tab_current'をつける
			 $(this).addClass('tab_current')
			 
		 }); 
	 });
	
	
	
	//スクロール
		$(function (){
		$(window).scroll(function (){
			
			if ($(this).scrollTop() > 10) {
				$('#articles-scroll').addClass('is-fixed');
			} else{
				$('articles-scroll').removeClass('is-fixed');
			}
		})
	})
		
	
	
	</script>
<!--さわらびゴシック-->
<script>
  (function(d) {
    var config = {
      kitId: 'wum1xfc',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

</head>

<body>
	
	<header id="header">
	<div class="container">
		<div id="h_top">
		    <div class="h_logo"><a href=""><img src="../imag/logo22.png" alt=""/></a></div>
			<div class="h_nav">
				<nav id="gNav">
					<ul class="nav">
						<li><a href="">ボタン</a></li>
						<li><a href="">ボタン</a></li>
						<li><a href="src/main/resources/templates/register.html" class="btn-sin">新規登録</a></li>
						<li><a href="src/main/resources/templates/manager_login.html"class= "btn-log">ログイン</a></li>
					</ul>
					<div class="mask"></div>
				</nav>
			</div>
		</div>
	</div>
</header>

	
	<header class="mheader">
		<div class="pc_menuFlex">
			<div class="i-logo"><a href="#"><img src="../imag/logo22.png" alt=""/></a>
			</div>
			<div class="pc_menu">
				<ul>
					<li><a href="#nav01">ボタン</a></li>
					<li><a href="#nav02">ボタン</a></li>
					<li><a href="src/main/resources/templates/register.html" class="btn-sin">新規登録</a></li>
					<li><a href="src/main/resources/templates/manager_login.html"class= "btn-log">ログイン</a></li>
				</ul>
			</div> 
		</div>
	</header>

	<!-- 日本地図 -->
	<table id="mapTbl">
		<tr>
		  <td colspan="2" rowspan="34" class="leftRight"></td>
		  <td colspan="31" class="topBottom"></td>
		  <td class="leftRight"></td>
		 </tr>
		 <tr>
		  <td colspan="21" rowspan="6"></td>
		  <td rowspan="8" colspan="2"></td>
		  <td class="hokka" colspan="8"  rowspan="2" title="北海道"></td>
		  <td height="24" rowspan="3"></td>
		 </tr>
		 <tr>
		 </tr>
		 <tr>
		  <td class="kaikyo" colspan="5"></td>
		  <td class="kaikyo" colspan="3" style="width : 2em;"></td>
		 </tr>
		 <tr>
		  <td class="tohoku" colspan="5"
			style="height : 2.5em;" title="青森"></td>
		  <td rowspan="30" colspan="3"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td class="tohoku" rowspan="2" colspan="2" title="秋田"></td>
		  <td class="tohoku" rowspan="2" colspan="3" title="岩手"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td></td>
		 </tr>
		 <tr>
		  <td colspan="16" rowspan="6"></td>
		  <td></td>
		  <td colspan="4" rowspan="2"></td>
		  <td class="tohoku" rowspan="2" colspan="2" title="山形"></td>
		  <td class="tohoku" rowspan="2" colspan="3" title="宮城"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td class="hokuriku" rowspan="6" title="石川"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td colspan="2" title="富山"></td>
		  <td class="kosinetu" colspan="5" title="新潟" rowspan="3"></td>
		  <td class="tohoku" rowspan="4" colspan="4" title="福島"></td>
		  <td rowspan="3"></td>
		 </tr>
		 <tr>
		  <td class="hokuriku" colspan="2" title="富山" rowspan="3"></td>
		 </tr>
		 <tr>
		 </tr>
		 <tr>
		  <td class="kosinetu" rowspan="8" title="長野"></td>
		  <td class="kanto" colspan="4" rowspan="4" title="群馬"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td colspan="7"></td>
		  <td colspan="8"></td>
		  <td></td>
		  <td class="cyuubu" colspan="2" rowspan="7" title="岐阜"></td>
		  <td class="kanto" colspan="2" rowspan="3" title="栃木"></td>
		  <td class="kanto" colspan="2" rowspan="4" title="茨城"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td colspan="7" rowspan="3"></td>
		  <td colspan="8"></td>
		  <td class="hokuriku" colspan="2" rowspan="2" title="福井"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td class="tyugoku" rowspan="5" title="山口"></td>
		  <td class="tyugoku" rowspan="4" title="島根"></td>
		  <td class="tyugoku" rowspan="4" title="鳥取"></td>
		  <td class="kinki" colspan="3" rowspan="6" title="兵庫">兵庫</td>
		  <td colspan="2"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td class="kinki" colspan="3" rowspan="4" title="京都">京都</td>
		  <td class="kinki" rowspan="4" title="滋賀">滋賀</td>
		  <td class="kanto" colspan="6" rowspan="3" title="埼玉"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td colspan="7" rowspan="2"></td>
		  <td class="kanto" colspan="2" rowspan="5" 
			style="padding:0px 4px;" title="千葉"></td>
		  <td rowspan="2"></td>
		 </tr>
		 <tr>
		 </tr>
		 <tr>
		  <td class="kyusyu" rowspan="4" title="長崎"></td>
		  <td class="kyusyu" rowspan="3" title="佐賀"></td>
		  <td class="kyusyu" rowspan="2" colspan="3" title="福岡"></td>
		  <td></td>
		  <td></td>
		  <td class="tyugoku" rowspan="2" title="広島"></td>
		  <td class="tyugoku" rowspan="2" title="岡山"></td>
		  <td class="kosinetu" colspan="3" title="山梨"></td>
		  <td class="kanto" colspan="3" title="東京"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td colspan="3"></td>
		  <td class="kinki" colspan="2" rowspan="4" title="大阪">大<br>阪</td>
		  <td class="kinki" rowspan="4" title="奈良">奈<br>良</td>
		  <td class="kinki" rowspan="5" title="三重">三<br>重</td>
		  <td class="cyuubu" colspan="2" rowspan="2" title="愛知"></td>
		  <td class="cyuubu" colspan="3" rowspan="3" title="静岡"></td>
		  <td class="kanto" colspan="3" rowspan="2" title="神奈川"></td>
		  <td rowspan="2"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td rowspan="2"></td>
		  <td class="kyusyu" rowspan="6" style="padding:0px 4px;" title="熊本"></td>
		  <td class="kyusyu" rowspan="2" title="大分"></td>
		  <td colspan="8" rowspan="2"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td></td>
		  <td colspan="2" title="愛知"></td>
		  <td colspan="2"></td>
		  <td></td>
		  <td></td>
		  <td colspan="2"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td colspan="3" rowspan="9"></td>
		  <td class="kyusyu" rowspan="4" title="宮崎"></td>
		  <td colspan="2" rowspan="3"></td>
		  <td class="sikoku" colspan="2" title="愛媛"></td>
		  <td class="sikoku" colspan="3" title="香川"></td>
		  <td rowspan="3"></td>
		  <td rowspan="10" colspan="11"></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td class="sikoku" colspan="2" rowspan="2" title="高知"></td>
		  <td class="sikoku" colspan="3" rowspan="2" title="徳島"></td>
		  <td class="kinki" colspan="3" rowspan="4" title="和歌山">和歌山</td>
		  <td></td>
		 </tr>
		 <tr>
		  <td rowspan="8"></td>
		  <td rowspan="9"></td>
		 </tr>
	   <tr>
		  <td colspan="8" rowspan="6"></td>
		 </tr>
		 <tr>
		  <td class="kyusyu" colspan="2" rowspan="4" style="height : 2.5em;" title="鹿児島"></td>
		 </tr>
		 <tr>
		  <td colspan="3" rowspan="5"></td>
		 </tr>
		 <tr>
		 </tr>
		 <tr>
		 </tr>
		 <tr>
		  <td colspan="2"></td>
		 </tr>
		 <tr>
		  <td class="kyusyu" colspan="2" title="沖縄"></td>
		  <td></td>
		  <td colspan="2"></td>
		  <td colspan="6"></td>
		  <td></td>
		  <td></td>
		 </tr>
		 <tr>
		  <td colspan="28" class="topBottom"></td>
		 </tr>
	   </table>


	<!--footer-------------------------------------------->
	<div class="f_menu">
		
		
		<!--footer_ナビゲーション-->
		<ul>
			<li></li>
			
			<li></li>
			
			<li></li>
			
			<li></li>
			
			<li>
					<div class="f_menubtn">
						<div><i class="fas fa-bars"></i></div>
					</div>
				
			</li>
		</ul>
	</div>
	<!--footer_メニューの中身-->
			<div class="f_open">
				<div class="f_logo">
				 <img src="../imag/logo22.png" alt=""/>
				</div>
				
				<div class="category_list">
					<dl>
						<dd>ボタン</dd>
					</dl>
					
					<dl>
						<dd>ボタン</dd>
					</dl>
					
					<dl>
						<dd><a href ="src/main/resources/templates/register.html"><div class="btn-sin">新規登録</div></a></dd>
					</dl>
					
					<dl>
						<dd><a href="src/main/resources/templates/manager_login.html"><div class= "btn-log">ログイン</div></a></dd>
					</dl>
			</div>

	</div>
	
	
	
	<footer>
	<p class="copyright">
		©︎Oritabi　All Rights Reserved.
    </p>
	</footer>
	<!--sliderのjs------------------------------------------ -->
<script type="text/javascript"src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/test.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>

</body>
</html>
