@charset "UTF-8";

h1 {
	font-size:50px;
	margin-top:0px; 
	margin-bottom:0px;
}

body {
  background-color:#ffffff;
 /*  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;  */
  font-size: 100%;
}

h3 {
  color: #583822;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
th,
td {
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  color: #583822;  
}
th {
  font-weight: bolder;
  font-size: .875rem;
  color: #583822;
  background: #e6e6e6;
}
img {
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: .5rem;
}

tr {
	background: #e6e6e6;
}

.D, 
.A {
	display: inline-block;
	background: #e6e6e6;
	padding: 5px 10px;
	cursor: pointer;
	}

.E,
.B {
  background: #e6e6e6;
	height: 100px;
	}
