@charset "UTF-8";


}

#displayElement1 , #displayElement2{
      display:flex;
      background:#ddd;
      width: 80%;
      height:auto;
      padding:10px;
    }

.suke{
	padding: 20px;
	width: 400px;
	background-color: #FF9999;
	 margin: 20px;
}
.jun{
	padding: 20px;
	width: 400px;
	background-color: #FF9999;
	 margin: 20px;
}

#map2 ,#map1{
	height: 400px;
	width: 400px;
	margin: 20px;
}

.mm{
	font-size:100px;
	background-color: #FF9999;
}

