@charset "UTF-8";


}

.box{
	 display: flex;
}

.suke{
	pading: 20px;
	width: 200px;
	background-color: #FF9999;
	
}




#map {
	height: 400px;
	width: 50%;
	margin: 0 auto;
	width: 400px;
	
}

#duration {
	text-align: center;
	margin: 20px;
}